<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="fragment/head :: headFragment">
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">FinalProject</title>
</head>
<body>
	<div id="wrap">
		<!-- [header] 영역 시작 -->
		<header th:replace="fragment/header :: headerFragment"></header>
		<!-- [header] 영역 끝 -->
		
		<!-- [content] 영역 시작 -->
		<div layout:fragment="content"></div>
		<!-- [content] 영역 끝 -->
		
		<!-- [footer] 영역 시작 -->
		<footer th:replace="fragment/footer :: footerFragment"></footer>
		<!-- [footer] 영역 끝 -->
	</div>
</body>
</html>